{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Brush Monsters 테스트 동영상</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>
  <div class="page-header col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <h3 class="top-menu">Thank you</h3>
  </div>
  <div>
    <form class="post-form content" method="POST" enctype="multipart/form-data">
    {%csrf_token%} {{form.as_p}}
    <button type="submit" class="save btn btn-default col-xs-12 col-sm-12">업로드하기</button>
    </form>
  </div>

</br>
  {% for movie in movies%}
  <div>
    <h3 class="center"> {{movie.username}}  {{movie.update_time}} </h3>
    <div class="video" >
      <video width="320px" height="240px" controls>
        <source src="{{movie.movie.url}}" type="video/mp4"></source>
      </video>
    </div>
  </div>
  {% endfor %}
</body>
</html>
