<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Brush Monsters 테스트 동영상</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
  <div class="page-header">
  <h3>파일 업로드 완료</h3>

  {% for movie in movies%}
  <h3>{{movie.username}}  {{movie.update_time}} </h3>
  <video class="embed-responsive embed-responsive-4by3">
    <source src="{{movie.movie.url}}" type="video/mp4"></source>
  </video>
</video>
  {% endfor %}
</html>
