{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Brush Monsters 테스트 동영상</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>
  <div class="page-header col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <h3 class="top-menu">Brush Monsters</h3>
  </div>
  <div class="content">
  <h5>2주간 테스트에 성실히 참여해주셔서 감사합니다. 주신 피드백이 향후 제품의 방향을 설정하는데 큰 도움이 되었습니다^^
    인터뷰 전 3회동안 양치를 촬영한 동영상을 올려주세요.</h5>
  </div>
</br>

  {% block content %}
  <form class="post-form content" method="POST" enctype="multipart/form-data">
  {%csrf_token%} {{form.as_p}}
  <button type="submit" class="save btn btn-default">업로드하기</button>
  </form>
  {% endblock %}
</body>
</html>
